
@use "../../global" as *;

.action-button {
  color: #fff;
  background-color: $main-color;
  box-shadow: 0 0.2em 0 $main-color-dark;
  padding: 0.5em 16px;
  border-radius: 0.2em;
  
  &:active {
    transform: translateY(0.2em);
    box-shadow: none;
  }

  &:disabled {
    color: #000;
    background-color: #fff;
    border: pxToRem(1px) solid;
    box-shadow: none;
    opacity: .3;
    transform: none;
  }
  
}