
@use "../../global" as *;

.main-input {
  padding: 0.5em;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 0.25em;
  border: 2px solid #ddd;

  &.-noborder {
    border: unset;
  }

  &:focus {
    outline: none;
    border: 2px solid $main-color-dark;
  }
  
}