
@use "../../global" as *;

.selectedInputs-fieldset {

  > .legend {
    font-weight: bold;
  }

  > .label {
    display: flex;

    > .input {
      width: pxToRem(13px);
      height: auto;
      margin-right: 0.4em;
    }

  }
  
}